.bento-item {
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.bento-tall {
    height: 410px;
    border-radius: 15px;
    background-color: #c4c4c4;
}

